mainDiv{
    -webkit-box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 8px -10px rgba(0,0,0,0.75);
background-color: #2c3038;

}

.btnAdd{
    margin-left: 5px;
    background-color: none ;
    background: none;
    border: none;
    color:orange;

}

.btnAdd:hover{
    background-color: none ;
    background: none;
    border: none;
    color: rgb(167, 192, 229);
}

.titleAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.titleAdd h6{
    margin-top: 5px;
}