.mainDivAddClient{
    margin: 15px;   
}

.inputStyle{
    background-color: #505967;
    border: none;
    color: #fff;
    
    
}
.inputStyle:focus{
        color:#fff;
        background-color:#66758d;
    
}

.inputStyle::placeholder {
    color: rgb(200, 200, 200);
    
  }

  .boxLabel{
    border:none;

    background-color: none;
  }



form{
    padding: 15px;
    border-radius: 15px;
    background-color: #464E5B;
}


.btnSave{
    background-color: none ;
    background: none;
    border: none;
    margin-top: 5px;
    color: cornflowerblue;

}

.btnSave:hover{
    color: a    quamarine;
}

p{
    color: orange;
    font: 0.5em sans-serif;
    margin: 0%;
    padding: 0;
}
